@mixin flex_base ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin boton_1 {
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid $color-destacado;
    border-radius: 30px;
    font-size: $font-size-texto;
    background-color: $color-secundario;
    color: $color-primario;

    &:hover {
        background-color: $color-primario;
    }
}


@mixin titulos {
    margin-top: $spacing-extrasmall;
    margin-bottom: $spacing-extrasmall;
}