
/* COLORES */

$color-primario: rgb(4, 15, 51);
$color-secundario: rgb(232, 232, 240);
$color-complementario: rgb(197, 147, 54);
$color-destacado: rgb(113, 161, 245);

$color-titulo: black;
$color-texto: gray;

/* TAMAÑOS TEXTO */

$font-size-titulo: 3rem;
$font-size-subti:2.7em;
$font-size-texto: 1.5em;
$font-size-semi: 1.1rem;
$font-size-bajadas: 0.8em;

/* FONT FAMILY  */

$fuente-texto: "montserrat" ;
$fuente-titulo: "arial";

/* SPACING */

$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-extrasmall: 1rem;

