.galeria {
    &__titulo {
        @include titulos
    }

    &__img {

        padding: $spacing-extrasmall;
        margin-bottom: $spacing-extrasmall/2;

    }

    &img {
        width: 100%;
    }

}