.portafolio {
    justify-content: center;

    &__titulo {
        @include titulos
    }

    &__ficha{
        
        width: 80%;
        margin: 10%;
        padding: 3rem;
        border: 2px solid $color-destacado ;
        border-radius: 10px;
        
    }

    &__ficha__titulo{
        margin: 1rem;
        font-size: $font-size-subti;
    }

    &__ficha__descripcion{
        margin: 1rem;
        margin-bottom: 3rem;
        font-size: $font-size-texto;
    }

    &__ficha__boton{
        @include boton_1;

        
    }
}