.presentacion {
    @include flex-base(column, center, center);
    text-align: center;
    font-size: $font-size-texto;
    width: 100%;
    justify-content: center;
    margin: auto;

    &__titulo {
        @include titulos;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__text {
        margin-bottom: $spacing-small;
        font-size: $font-size-texto;
        width: 70%;
        text-align: justify;
    }
}


.tabla__titulo {
    margin: auto;
    margin-bottom: $spacing-small;
    text-align: center;
    font-size: $font-size-subti;
}


.tabla__tabla {
    text-align: center;
    font-size: $font-size-texto;
    margin: auto;
    margin-bottom: $spacing-small;
    border: solid 3px $color-destacado;
    width: 80%;
    padding: 3rem;


}

.tabla__row__programa {
    padding: $spacing-extrasmall;
}

.tabla__col {
    padding: $spacing-extrasmall;
    font-size: $font-size-texto;
}